.movie-bgc{
    background-image: url("../img/fiche-films/bg-jamesBond.jpg");
    background-size: cover;
    padding: 0;
   
    
}

h1,h2,h3,h4{
    font-family: 'Source Sans Pro', sans-serif;
    
    
}
.box-event{
    padding-left: 0;
    padding-right: 0;
}
.main-top{
    background-color: rgba(0,0,0,0.6);
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #ffffff;
    
    h1,h2{
        color: #ffffff;
        margin: 2.5em;
        margin: 0;
    }

    .modal-content{
        background-color: #222222;
        padding-bottom: 3rem;

        button{
            color: #ffffff;
        }

    }
    
    .movie-img {
        /* background-image: url("../img/films/James-bond.jpg");
        background-size: cover; */
        /* width: 100%;
        max-width: 300px;
        max-height: 450px;
        border-radius: 5px; */
        padding-left: 0;
        padding-right: 0;
        position: relative;

        .far{
            font-size: 4rem;
            color: #fecc00;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        img{
        width: 100%;
        /* max-width: 300px;
        max-height: 450px; */
        border-radius: 5px;
        }
        
        &:hover{
            transform: scale(1.1);
            box-shadow: 0px 0px 33px 9px rgba(0,0,0,0.75);
        }
    }

    .movie-info{
        padding: 1rem;
        h4{
            font-size: 1.5rem;
        }
    }


    /********************* TEST *******************/

    
} 
/* .carousel-inner{
    
    .carousel-item{
        background-color: red;
        justify-content: space-between;
        
        .testImg{
            width: 100%;
            max-width: 300px;
            max-height: 400px;
            /* display: none; 
        }
    }
} */

.film-content{
    max-width: 600px;
    border: 3px solid #222222;
    padding: 5px;
    overflow: hidden;

    @keyframes slideInLeft {
        from {
          -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
          visibility: visible;
        }
      
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }
      
      .slideInLeft {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
      }

    .relative{
        position: relative;
        &:hover{
            transform: scale(1.2);
            box-shadow: 0px 0px 33px 9px rgba(0,0,0,0.75);
        }
    }

    .icon-play{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        color: #fecc00;
        font-size: 3rem;
    }

    img{
        max-width: 200px;
        max-height: 250px;  
        margin-left: 2px;
        margin-right: 2px;                  
    }

}
@keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
  }


  @-webkit-keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
  }