.hellocine-content{

    .box-event {
        background: radial-gradient(ellipse at center, rgba(221,241,249,1) 0%,rgba(254,255,255,1) 64%,rgba(211,229,237,1) 100%);padding-bottom: 3vw;
    }

    h1, h2, h3{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bolder;
        word-spacing: 1vw;
        letter-spacing: 1px;
    }

    h1, h2{
        
        margin: 3vw;
        color: #fecc00;
        font-size: 3rem;
        text-shadow: 0px 5px 4px rgba(34,34,34,0.63);
    }

    .carousel-actu{
        border: 2px solid #222222;
        
        img{
            max-height: 400px;
        }
        
    }

    .carousel-caption{
        background-color: rgba(0,0,0,0.5);
    }

    /* Essaie animation sur affiche film */   
    //https://www.youtube.com/watch?v=M7Dae-7nfow
    
    /*  .films-affiche-box{
        position: relative;
        width: 1000px;
        transform-style: preserve-3d;

        .box-affiche{
            position: relative;
            width: 300px;
            height: 400px;
            margin: 20px 0;
            perspective: 1000px;
            overflow: hidden;
            transform-style: preserve-3d;

            .img-box-affiche{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform-origin: top;
                transform-style: preserve-3d;
                transition: 0.5s;

                &:hover{
                    transform: rotateX(-90deg);
                    opacity: 0;
                    transition-delay: 0.2s;
                }

                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }
            .content-box-affiche{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #333;
                padding: 40px;
                transform-origin: bottom;
                transform-style: preserve-3d;
                transition: 0.5s;
                transform: rotateX(90deg);
                opacity: 0;
                color: #fecc00;

                &:hover{
                    transform: rotateX(0deg);
                    opacity: 1;
                    transition-delay: 0.2s;
                }
            }
        }
    }  */

//ESSAIE
    .film-box-essaie{
        position: relative;
        width: 300px;
        height: 400px;
        overflow: hidden;
        background-image: url(../img/films/James-bond.jpg);
        
        background-size: cover;
        padding: 0;

        

        .box-hidden{
            top: 100%;
            position: relative;
            transition: all .8s ease-in-out;
            height: 100%;
            background-color: rgba(0,0,0,0.8);
            color: #fff;
            
            h2{
                margin: 0;
                
            }
        }

        &:hover > .box-hidden{
            top: 0;
        }
    }
        
    .coups-coeur{
        
        .coups-coeur-box{
            .fas{
                color: #fecc00;
            }

            .border-box1{

                background: linear-gradient(135deg, rgba(254,204,0,0.7) 0%,rgba(246,203,14,0) 6%,rgba(125,185,232,0) 100%);
                border-radius: 5px;
                padding-top: 2px;

                .box1{
                    margin-right: 2px;
                    margin-left: 2px;
                    padding-top: 25px;
                    padding-bottom: 3vw;
                    background-color: #fff;
                    border-radius: 5px;

                    img{
                        border-radius: 5px;
                    }
                    
                    blockquote{
                        max-width: 70%;
                        font-style: italic;
                    }
                } 
                
            }
           
            
            .border-box2{
                background: linear-gradient(135deg, rgba(229,229,229,0) 8%,rgba(252,206,15,0) 94%,rgba(254,204,0,0.7) 100%);
                border-radius: 5px;
                padding-bottom: 2px;
                /* padding-right: 2px; */

                .box2{
                    margin-left: 2px;
                    padding-top: 3vw;
                    margin-right: 2px;
                    padding-bottom: 25px;
                    background-color: #fff;
                    border-radius: 5px;

                    img{
                        border-radius: 5px;
                    }

                    blockquote{
                        max-width: 70%;
                        font-style: italic;
                        
                    }
                }
            }
            

            

            h3{
                padding-bottom: 1vw;
            }
            img{
                width: 100%;
                max-width: 200px;
                max-height: 300px;
                
                
                &:hover{
                    transform: scale(1.2);
                    box-shadow: 0px 0px 33px 9px rgba(0,0,0,0.75);
                }

        }
        }
    }

    .modal-content{
        width: 560px;
    }
   
}
