/***************************************************** 
                     COMMUN
*****************************************************/
@import "_normalize.scss";

.page-login{
    height: 100%;
} 

/* TEST Search Full Screen */
/* The overlay effect with black background */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
  }
  
  /* The content */
  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  /* Close button */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: #fecc00;
  }
  
  .overlay .closebtn:hover {
    color: #fff;
  }
  
  /* Style the search field */
  .overlay input[type=text] {
    padding: 15px;
    font-size: 2rem;
    border: none;
    border-bottom: 1px solid #fecc00;
    float: left;
    width: 80%;
    background: none;  }
  
  .overlay input[type=text]:hover {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(74,56,0,0) 29%,rgba(254,192,0,0.15) 100%);

  }
  
  /* Style the submit button */
  .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: none;
    font-size: 2rem;
    color: #fecc00;
    border: none;
    cursor: pointer;
    text-align: left;
  }
  
  .overlay button:hover {
    color: #fff;
  }

/* Fin TEST */

body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    
}

.marquee-rtl {

    margin: 1em auto 2em;
    border-radius: 5px;
    overflow: hidden;                    

    .info {
        font-size: 2rem;
        display: inline-block;               
        padding-right: 2em;                  
        padding-left: 100%; 
        white-space: nowrap;                  
        animation: defilement-rtl 15s infinite linear;
        
        @keyframes defilement-rtl {
            0% {
              transform: translate3d(0,0,0);     
            }
            100% {
              transform: translate3d(-280%,0,0);  
            }
        }

        .evt{
            font-weight: bolder;
            color: #fecc00;
        }
    }
}
.marquee-rtl-tel{
    margin: 0;
    padding-top: 7vw;
    
}

/* TEST CARD-info*/
.hide{
    display: none;
    /* background-color: red; */
    
}



/************************* HEADER ****************************/
/* .header-fixed{
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 0px;
} */
header{
    
    background: linear-gradient(to bottom, rgba(34,34,34,1) 0%,rgba(76,76,76,1) 0%,rgba(34,34,34,1) 0%,rgba(34,34,34,1) 75%,rgba(76,76,76,1) 98%,rgba(76,76,76,1) 98%,rgba(19,19,19,1) 100%);
    background-size: 100%;
    color: #fff;

    /* position: relative; */
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0px;
   
    .logo-header{
        width: 100%;
        max-width: 3vw;
    }

    .box-header-un{
        padding-right: 15px;

    }
    .nav-head{
        padding-left: 15px;
        padding-right: 15px;
        
        a,i{
            color: #fff;
            &:hover{
                text-decoration: none;  
                color: #fecc00;
                font-weight: bolder;
            }
        }
    }
    input{
        color: white;
    }
    .resultsearch{
        color: white;
    }
}    
/************************* MAIN ****************************/   
main{
    @import "_index.scss";
    @import "_fiche-films.scss";
    @import "_developmentPageGroup.scss";
   

    margin-top: 7vw;

}
.item {position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
    background-size: cover;
    margin:4%;
    padding: 0px;}
    .card-info {top: 100%;
      position: relative;
      transition: all .8s ease-in-out;
      height: 100%;
      background-color: rgba(0,0,0,0.8);
      color: #fff;
      padding: 2% 5% 2% 5%;
    }
    .card-info h2{
      margin: 0;
    }
    .card-info p{
      margin: 0;
    }
    .item:hover > .card-info{
      top: 0;
    }
    .item:hover{
      background:hidden;
    }


.bgc-btn-play{
        color: #FFFFFF;
        background-color: rgb(128, 0, 0);
        /* border-radius: 5px; */
        padding: 5px 60px 5px 60px;
        /* width: 200px;
        height: 50px; */
        &:hover{
            transform: scale(1.1);
            font-weight: bolder;
            color: #FECC00;
        }
    }
    .bgc-btn-film{
        background-color: #fff;
        /* border-radius: 5px; */
        padding: 5px 20px 5px 20px;
        &:hover{
            transform: scale(1.1);
            font-weight: bolder;
            color: #FECC00;
        }
        a{
            color: #000;
            &:hover{
                text-decoration: none;
            }
        }
    }
/************************* FOOTER ****************************/
footer{
    background-color: #222222;

    a{
        color: #fecc00;
    }
    .nav-foot-1 {
        padding: 1rem;
        a{
            font-size: 2rem;
            
            &:hover{
                color: red;
                transform: scale(2);
            }
        }
        .fa-deco{
            
            &:hover{
                
                transform: rotate(-15deg);
                color: red;
            }
        }
        
    }
    
    .nav-foot-2 a {
        text-decoration: none;
    }
}